<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <application>
    <add key="Log" value="\\\\PROD-NAS-001\\AutoBackup"/>
  </application>
  <servers>
    <server1>
      <add key="Name" value="TS-SV101" />
      <dailydmp>
        <add key="SourcePath" value="D:\Autobackup\Test\TS-SV101\DailyDMP\Source"/>
        <add key="TargetPath" value="D:\Autobackup\Test\TS-SV101\DailyDMP\Target"/>
        <add key="Archiving" value="false"/>
        <add key="Backup" value="true"/>
      </dailydmp>
    </server1>
  </servers>
</configuration>